#panService .scroll-pane > .viewport {
	-fx-background-color: transparent;
}

#panService .scroll-pane, .interface {
	-fx-background-color: #FFFFFF;
	-fx-border-width: 0px;
}

.vm-description {
	-fx-text-fill: #777777;
}

.vm-value {
	-fx-text-fill: #555555;
	-fx-font-weight: bold;
}

.vm-name, .vm-value, .vm-comment, .vm-throw-message {
	-fx-padding: 1px 5px 1px 5px;
}
.vm-description {
	-fx-padding: 1px 0px 1px 0px;
}
.vm-link-from, .vm-link-to {
	-fx-text-fill: #31691c;
	-fx-background-color: #F7FFF4;
	-fx-padding: 1px 5px 1px 5px;
	-fx-border-width: 1px;
	-fx-border-color: #31691c;
	-fx-border-radius: 5px;
	-fx-background-radius: 5px;
	-fx-font-weight: normal;
}
.vm-link-from.vm-fixed-value {
	-fx-text-fill: #3b638c;
	-fx-background-color: #ebf5ff;
	-fx-border-color: #3b638c;
}

.vm-label {
	-fx-text-fill: #6D6D0A;
	-fx-background-color: #ffffe3;
	-fx-padding: 1px 5px 1px 5px;
	-fx-border-width: 1px;
	-fx-border-color: #D9D933;
	-fx-border-radius: 5px;
	-fx-background-radius: 5px;
}

.vm-feature {
	-fx-text-fill: #6b046c;
	-fx-background-color: #fee8ff;
	-fx-padding: 1px 5px 1px 5px;
	-fx-border-width: 1px;
	-fx-border-color: #c963cb;
	-fx-border-radius: 5px;
	-fx-background-radius: 5px;
}

.vm-margin-left {
	-fx-background-insets: 0px 0px 0px 5px;
	-fx-border-insets: 0px 0px 0px 5px;
}

.vm-throw-message {
	-fx-font-weight: normal;
/*	-fx-text-fill: #ffffff; c50006 */
	-fx-text-fill: #690303;
	-fx-background-color: #ffebeb;
	-fx-border-color: #E99494;
/*	-fx-background-insets: 0px 0px 0px 10px;
	-fx-border-insets: 0px 0px 0px 10px;*/
	-fx-border-width: 1px;
	-fx-border-radius: 5px;
	-fx-background-radius: 5px;
}

.vm-line-number {
	/* #def6ca */
	
	/*
	green
	-fx-background-color: #ecfae1;
	-fx-text-fill: #447e14;
	-fx-border-color: #2f580e;
	*/
	
	-fx-text-fill: #aaa;
	-fx-border-color: #ccc;
	-fx-background-color: #fff;
	
/*
	grey
	-fx-text-fill: #aaa;
	-fx-background-color: #fff;
	-fx-font-weight: bold;
	*/
	
	-fx-background-radius: 5px;
	-fx-border-width: 0px;
	-fx-border-radius: 5px;
	-fx-padding: 0px 5px 0px 5px;
	-fx-font-size: 0.9em;
}

.highlightedStep .vm-line-number {
	-fx-background-color: #dbeeff;
	-fx-text-fill: #285073;
	-fx-border-color: #7295b4;
	-fx-border-width: 0px;
}

.selected .vm-line-number {
	-fx-border-width: 0px;
	-fx-background-color: #1f72f4;
	-fx-text-fill: white;
	-fx-border-color: #1f72f4;
}

.vm-comment {
	-fx-text-fill: #444444;
	/*-fx-background-color: #F2F2F2;*/
	-fx-background-color: #F5F5F5;
	
	/*-fx-background-color: #ffffcc;*/
	-fx-background-radius: 5px;
	-fx-border-color: #cccccc;
/*	-fx-background-insets: 0px 0px 0px 10px;
	-fx-border-insets: 0px 0px 0px 10px;*/
	-fx-border-width: 1px;
	-fx-border-radius: 5px;
}

.vm-comment-todo {
	-fx-font-weight: bold;
	-fx-text-fill: #730303;
}

.interfaceContainer {
	-fx-border-style: solid;
	-fx-border-color: #CCCCCC;
	-fx-border-width: 1px !important;
}

.treeContainer {
	-fx-background-color: #FFFFFF;
	-fx-border-style: solid;
	-fx-border-color: #CCCCCC;
	-fx-border-width: 0px;
}

.treeLeftContainer {
	-fx-border-width: 1px 0px 1px 1px !important;
}
.treeRightContainer {
	-fx-border-width: 1px 1px 1px 0px !important;
}

.maskLine {
	-fx-stroke: #FF6347;
}
.connectionLine:focused {
	-fx-stroke: #3465a4;
	-fx-stroke-width: 3px;
}

.connectionCircle.optionalLink {
	-fx-stroke: #aa0000;
	-fx-fill: #fc1818;
}
.connectionCircle.sourceNotNullLink {
	-fx-stroke: #aa0000;
	-fx-fill: #fc1818;
}
.connectionCircle.patchLink {
	-fx-stroke: #aa0000;
	-fx-fill: #fc1818;
}

.indexQueryLine {
	-fx-stroke: #20B2AA;
}

.selectedInvoke {
	-fx-background-color: #dbeeff !important;
	-fx-text-fill: #436d93 !important;
	-fx-border-color: #436d93 !important;
}

.invokeServiceName, .invokeOrder, .invokeServiceGoto {
	-fx-padding: 4px 5px 4px 5px;
}

.invokeServiceName {
	-fx-text-fill: #553600;
}
.invokeSubscript {
	-fx-font-size: 0.9em;
	-fx-text-fill: #897147;
	-fx-padding: 0px 5px 4px 5px;
}
.invokeOrder {
	-fx-text-fill: #cbb793;
}

.invokeName {
	-fx-border-style: solid;
	-fx-border-width: 1px 1px 0px 1px;
	-fx-border-color: #CCCCCC;
	
	-fx-background-color: #f8edb3;
	-fx-border-color: #edcb83;
}

.highlightedStep {
	-fx-background-color: #dbeeff;
	-fx-border-radius: 5px;
	-fx-background-radius: 5px;
	
	-fx-border-color: #7295b4;
}

.highlightedStep .vm-comment {
	-fx-background-color: #dbeeff;
	-fx-border-width: 0px;
	-fx-text-fill: #285073;
}
.highlightedStep .vm-label {
	-fx-background-color: #dbeeff;
	-fx-border-width: 0px;
	-fx-text-fill: #285073;
}
.highlightedStep .vm-throw-message {
	-fx-background-color: #dbeeff;
	-fx-border-width: 0px;
	-fx-text-fill: #285073;
}

.selected {
	-fx-background-color: #1f72f4;
	-fx-text-fill: white;
	/* -fx-border-color: #01093d; */
}
.selected * {
	-fx-text-fill: white;
	-fx-background-color: #1f72f4;
}
.selected .text-field {
	-fx-text-fill: white;
}

.selected .vm-comment {
	-fx-background-color: #1f72f4;
	-fx-text-fill: white;
	-fx-border-color: #1f72f4;
}
.selected .vm-label {
	-fx-background-color: #1f72f4;
	-fx-text-fill: white;
	-fx-border-color: #1f72f4;
}
.selected .vm-throw-message {
	-fx-background-color: #1f72f4;
	-fx-text-fill: white;
	-fx-border-color: #1f72f4;
}

.line-label {
	-fx-background-color: #f4f4f4;
	-fx-padding: 0.1em 0.3em;
	-fx-border-width: 1px;
	-fx-border-color: #babdb6;
	-fx-border-radius: 10px;
	-fx-background-radius: 10px;
}
.line-label.line-label-many {
	-fx-background-color: #DCE1F6;
	-fx-border-color: #152f98;
}
.line-label.line-label-one {
	-fx-background-color: #DCE1F6;
	-fx-border-color: #152f98;
}
.line-label Label {
	-fx-font-color: #2e3436;
	-fx-font-size: 0.7em;
}
.line-label.line-label-many Label {
	-fx-font-color: #152f98;
}
.line-label.line-label-one Label {
	-fx-font-color: #152f98;
}
