#panService .scroll-pane > .viewport {
	-fx-background-color: transparent;
}

#panService .scroll-pane {
	-fx-background-color: #FFFFFF;
}

.maskLine {
	-fx-stroke: #970013;
}

.indexQueryLine {
	-fx-stroke: #4e79fe;
}