#panService .scroll-pane > .viewport {
	-fx-background-color: transparent;
}

#panService .scroll-pane, .interface {
	-fx-background-color: #FFFFFF;
	-fx-border-width: 0px;
}

.vm-description {
	-fx-text-fill: #777777;
}

.vm-value {
	-fx-text-fill: #555555;
	-fx-font-weight: bold;
}

.vm-name, .vm-value, .vm-comment, .vm-throw-message {
	-fx-padding: 1px 5px 1px 5px;
}
.vm-description {
	-fx-padding: 1px 0px 1px 0px;
}

.vm-label {
	-fx-text-fill: #6D6D0A;
	-fx-background-color: #ffffe3;
	-fx-padding: 1px 5px 1px 5px;
	-fx-border-width: 1px;
	-fx-border-color: #D9D933;
	-fx-border-radius: 5px;
	-fx-background-radius: 5px;
}

.vm-feature {
	-fx-text-fill: #6b046c;
	-fx-background-color: #fee8ff;
	-fx-padding: 1px 5px 1px 5px;
	-fx-border-width: 1px;
	-fx-border-color: #c963cb;
	-fx-border-radius: 5px;
	-fx-background-radius: 5px;
}

.vm-margin-left {
	-fx-background-insets: 0px 0px 0px 5px;
	-fx-border-insets: 0px 0px 0px 5px;
}

.vm-throw-message {
	-fx-font-weight: normal;
/*	-fx-text-fill: #ffffff; c50006 */
	-fx-text-fill: #690303;
	-fx-background-color: #ffebeb;
	-fx-border-color: #E99494;
/*	-fx-background-insets: 0px 0px 0px 10px;
	-fx-border-insets: 0px 0px 0px 10px;*/
	-fx-border-width: 1px;
	-fx-border-radius: 5px;
	-fx-background-radius: 5px;
}

.vm-comment {
	-fx-text-fill: #444444;
	/*-fx-background-color: #F2F2F2;*/
	-fx-background-color: #F5F5F5;
	
	/*-fx-background-color: #ffffcc;*/
	-fx-background-radius: 5px;
	-fx-border-color: #cccccc;
/*	-fx-background-insets: 0px 0px 0px 10px;
	-fx-border-insets: 0px 0px 0px 10px;*/
	-fx-border-width: 1px;
	-fx-border-radius: 5px;
}

.interfaceContainer {
	-fx-border-style: solid;
	-fx-border-color: #CCCCCC;
	-fx-border-width: 1px !important;
}

.treeContainer {
	-fx-background-color: #FFFFFF;
	-fx-border-style: solid;
	-fx-border-color: #CCCCCC;
	-fx-border-width: 0px;
}

.treeLeftContainer {
	-fx-border-width: 1px 0px 1px 1px !important;
}
.treeRightContainer {
	-fx-border-width: 1px 1px 1px 0px !important;
}

.maskLine {
	-fx-stroke: #FF6347;
}

.indexQueryLine {
	-fx-stroke: #20B2AA;
}

.selectedInvoke {
	-fx-background-color: #dbeeff;	
}

.invokeServiceName, .invokeOrder, .invokeServiceGoto {
	-fx-padding: 4px 5px 4px 5px;
}

.invokeServiceName {
	-fx-text-fill: #553600;
}
.invokeOrder {
	-fx-text-fill: #cbb793;
}

.invokeName {
	-fx-border-style: solid;
	-fx-border-width: 1px 1px 0px 1px;
	-fx-border-color: #CCCCCC;
	
	-fx-background-color: #f8edb3;
	-fx-border-color: #edcb83;
}

.highlightedStep {
	-fx-background-color: #dbeeff;
	-fx-border-radius: 5px;
	-fx-background-radius: 5px;
	
	-fx-border-color: #7295b4;
}

.highlightedStep .vm-comment {
	-fx-background-color: #dbeeff;
	-fx-border-width: 0px;
	-fx-text-fill: #285073;
}
.highlightedStep .vm-label {
	-fx-background-color: #dbeeff;
	-fx-border-width: 0px;
	-fx-text-fill: #285073;
}
.highlightedStep .vm-throw-message {
	-fx-background-color: #dbeeff;
	-fx-border-width: 0px;
	-fx-text-fill: #285073;
}

.selected {
	-fx-background-color: #1f72f4;
	-fx-text-fill: white;
	/* -fx-border-color: #01093d; */
}
.selected * {
	-fx-text-fill: white;
	-fx-background-color: #1f72f4;
}

.selected .vm-comment {
	-fx-background-color: #1f72f4;
	-fx-text-fill: white;
	-fx-border-color: #1f72f4;
}
.selected .vm-label {
	-fx-background-color: #1f72f4;
	-fx-text-fill: white;
	-fx-border-color: #1f72f4;
}
.selected .vm-throw-message {
	-fx-background-color: #1f72f4;
	-fx-text-fill: white;
	-fx-border-color: #1f72f4;
}
